<html>
	<head>
		<meta charset = "UTF-8"/>
		<title> Informações </title>
		<link  type="text/css" rel="stylesheet" href="../_css/_css.css" />
		<script src = "../_javascript/_javascript.js"></script>
		<link rel="shortcut icon" href="../_imagens/livro3.png"/>
		
	</head>
	<body id="info">
		<div id="cabecalho">
			<a href ="../index.html" ><img src = "../_imagens/tit.png"/></a>
		</div>
		<h1> INFORMAÇÕES </h1>
		<center>
		<p> Existem muitas crianças que prescisam ser agraciadas com o conhecimento. Muitas crianças que podem conhecer um mundo maravilhoso através da leitura e do ensino.</p>
		<p> Muitas escolas, instituições ou ONGs de educação infantil prescisam de doações para suas crianças, seja do que for: alimentos, materiais de limpeza, brinquedos, roupas e, principalmente, livros.</p>
		<p> VOCÊ pode escolher o que e quanto doar! Pense no quão importante e especial isso seria, você estaria contribuindo de uma forma maravilhosa para a educação dessas crianças. </p>
		<p> Faça seu <a href ="_cadastre-se/cadastre-se.html">cadastro</a>, escolha a instituição e <b> doe-se.</b> </p>
		
		
		</center> 
	</body>
</html>