<html>
	<head>
		<meta charset = "UTF-8"/>
		<title> Faça Login </title>
		<link  type="text/css" rel="stylesheet" href="../_css/_css.css" />
		<script src = "../_javascript/_javascript.js"></script>
		<link rel="shortcut icon" href="../_imagens/livro3.png"/>
		
	</head>
	<body>
		<div id="cabecalho">
			<a href ="../index.html" ><img src = "../_imagens/tit.png"/></a>
		</div> </br> </br>
		<center>
			<div class="bordinha">
					<form name="form" method="post" action="../index.html" onSubmit="return login ()">
					<h1> Já é cadastrado? Faça seu login: </h1>
					<table> 
					<tr> <td> <label> E-mail: </label> </td> <td> <input  type="email" name="email" /> </td> </tr>
					<tr> <td> <label> Senha: </label> </td> <td> <input  type="password" name="senha" />  </td> </tr>
					</table>
					<input type="submit" value=" Entrar "/>
					</form>
			</div> </br>
			<p class="ei"> Ou <a href ="../_cadastre-se/cadastre-se.html" target="blank" >cadastre-se.</a></p>
		</center>
			
	</body>
</html>
<!--input type="button" id="showPassword" value="Mostrar" class="button" /--!>